Sandbox/Resources/soapclient/numberconversion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.dataaccess.com/webservicesserver/" name="NumberConversion" targetNamespace="http://www.dataaccess.com/webservicesserver/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.dataaccess.com/webservicesserver/">
      <xs:element name="ubiNum" type="xs:unsignedLong" mc:mapping="ubiNum"/>
      <xs:element name="NumberToWordsResult" type="xs:string" mc:mapping="NumberToWordsResult"/>
      <xs:element name="dNum" type="xs:decimal" mc:mapping="dNum"/>
      <xs:element name="NumberToDollarsResult" type="xs:string" mc:mapping="NumberToDollarsResult"/>

        <xs:complexType name="NumberToWords" mc:mapping="Sandbox.Tests.Net.Https.NumberConv+NumberToWords, Sandbox">
          <xs:sequence>
            <xs:element ref="ubiNum"/>
          </xs:sequence>
        </xs:complexType>

        <xs:complexType name="NumberToWordsResponse" mc:mapping="Sandbox.Tests.Net.Https.NumberConv+NumberToWordsResponse, Sandbox">
          <xs:sequence>
            <xs:element ref="NumberToWordsResult"/>
          </xs:sequence>
        </xs:complexType>

        <xs:complexType name="NumberToDollars" mc:mapping="Sandbox.Tests.Net.Https.NumberConv+NumberToDollars, Sandbox">
          <xs:sequence>
            <xs:element ref="dNum"/>
          </xs:sequence>
        </xs:complexType>

        <xs:complexType name="NumberToDollarsResponse" mc:mapping="Sandbox.Tests.Net.Https.NumberConv+NumberToDollarsResponse, Sandbox">
          <xs:sequence>
            <xs:element ref="NumberToDollarsResult"/>
          </xs:sequence>
        </xs:complexType>
    </xs:schema>
  </types>
  <message name="NumberToWordsSoapRequest">
    <part name="parameters" element="NumberToWords"/>
  </message>
  <message name="NumberToWordsSoapResponse">
    <part name="parameters" element="NumberToWordsResponse"/>
  </message>
  <message name="NumberToDollarsSoapRequest">
    <part name="parameters" element="NumberToDollars"/>
  </message>
  <message name="NumberToDollarsSoapResponse">
    <part name="parameters" element="NumberToDollarsResponse"/>
  </message>
  <portType name="NumberConversionSoapType">
    <operation name="NumberToWords">
      <documentation>Returns the word corresponding to the positive number passed as parameter. Limited to quadrillions.</documentation>
      <input message="NumberToWordsSoapRequest"/>
      <output message="NumberToWordsSoapResponse"/>
    </operation>
    <operation name="NumberToDollars">
      <documentation>Returns the non-zero dollar amount of the passed number.</documentation>
      <input message="NumberToDollarsSoapRequest"/>
      <output message="NumberToDollarsSoapResponse"/>
    </operation>
  </portType>
  <binding name="NumberConversionSoapBinding" type="NumberConversionSoapType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="NumberToWords">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="NumberToDollars">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="NumberConversion">
    <documentation>The Number Conversion Web Service, implemented with Visual DataFlex, provides functions that convert numbers into words or dollar amounts.</documentation>
    <port name="NumberConversionSoap" binding="NumberConversionSoapBinding">
      <soap:address location="https://www.dataaccess.com/webservicesserver/numberconversion.wso"/>
    </port>
  </service>
</definitions>
